{% extends "inicio/encabezado.html" %}

{% block title %} COMENTARIOS DE CONTACTO {% endblock %}

{% block imagen %}
{% load static %}
{% static 'inicio/image/home.png' %}
{% endblock %}

{% block contenido %}

{% block encabezado %}
<!-- Encabezado -->
<div class="page-header">
    <div class="page-title">
        <h3>Comentarios
            <small>Lista de Comentarios</small>
        </h3>
    </div>
</div>
{% endblock %}
<!-- Tabla -->
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Mensaje</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for comentario in comentarios %}
        <tr>
            <td class="text-semibold">{{ comentario.usuario }}</td>
            <td class="muted">{{comentario.mensaje}}</td>
            <td class="text-center">
                <a href="{%url 'ConsultaIndividual' comentario.id%}"> Editar</a></td>
            <td class="text-center">
                <a href="{%url 'Eliminar' comentario.id%}">Eliminar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}